@using WebApp_NegozioMoto.Views.Home
@{
    ViewData["Title"] = "Carrello";
    List<Item> listaArticoli = Model as List<Item>;
    OrdineProdotto o;

    /*foreach (Item i in Model)
    {
        if (!listaArticoli.Contains(i))
        {
            listaArticoli.Add(i);
            o = new OrdineProdotto();
            o.ID_prodotto = i.ID_prodotto;
            o.ID_ordine = 0;//metto a 0 cuz manca collegamento dell ordine ancora
            o.Quantita = 1;
            o.CostoProdotto = i.prezzo;
            listaDettaglio.Add(o);
        }
        else
        {
            o = listaDettaglio.Find(x => x.ID_prodotto == i.ID_prodotto);
            listaDettaglio.Remove(o);
            o.Quantita += 1;
            o.CostoProdotto = i.prezzo * o.Quantita;
            listaDettaglio.Add(o);
        }
    }*/
}

<h1>@ViewData["Title"]</h1>
<hr/>
@foreach (Item i in listaArticoli)
{
    <li class="list-group-item"><div align="left">@i.ID_prodotto</div><div align="left">@i.modello</div><div align="left">@i.tipo_vestiario</div><div align="left">@i.tipo</div><div align="right">@i.prezzo €</div></li>
}

<a class="btn btn-primary" asp-controller="Home" asp-action="EmptyCart"> Elimina Carello</a>